<a href="https://colab.research.google.com/github/toandaominh1997/Kaggle/blob/master/Home_Credit_Default_Risk/Home_Credit_Default_Risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import numpy as np
import pandas as pd
import os
import sys
dataset_path = 'drive/My Drive/Dataset/Home Credit Default Risk/'
path_train = os.path.join(dataset_path, 'application_train.csv')
path_test = os.path.join(dataset_path, 'application_test.csv')

In [0]:
train = pd.read_csv(path_train)
test = pd.read_csv(path_test)
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [0]:
train = train.fillna(0)
test = test.fillna(0)

In [0]:
test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100042,Cash loans,F,Y,Y,0,270000.0,959688.0,34600.5,810000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
6,100057,Cash loans,M,Y,Y,2,180000.0,499221.0,22117.5,373500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
7,100065,Cash loans,M,N,Y,0,166500.0,180000.0,14220.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
8,100066,Cash loans,F,N,Y,0,315000.0,364896.0,28957.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
9,100067,Cash loans,F,Y,Y,1,162000.0,45000.0,5337.0,45000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
10,100074,Cash loans,F,N,Y,0,67500.0,675000.0,25447.5,675000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
11,100090,Cash loans,F,N,Y,0,135000.0,261621.0,16848.0,216000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
12,100091,Cash loans,F,N,Y,0,247500.0,296280.0,23539.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
13,100092,Cash loans,F,Y,Y,0,90000.0,360000.0,18535.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
14,100106,Revolving loans,M,N,Y,0,180000.0,157500.0,7875.0,157500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
15,100107,Cash loans,M,Y,Y,0,180000.0,296280.0,21690.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
16,100109,Cash loans,F,Y,Y,0,202500.0,407520.0,26041.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
17,100117,Cash loans,M,Y,Y,0,90000.0,499221.0,22117.5,373500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
18,100128,Cash loans,F,Y,Y,1,225000.0,431280.0,23526.0,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,4.0
19,100141,Cash loans,F,Y,Y,0,175500.0,478498.5,46741.5,454500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
20,100150,Cash loans,F,N,Y,0,99000.0,225000.0,19242.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
21,100168,Cash loans,F,N,Y,0,157500.0,266652.0,16443.0,202500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
22,100169,Cash loans,F,N,Y,0,135000.0,540000.0,27702.0,540000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
23,100170,Cash loans,M,N,Y,1,337500.0,1313212.5,42493.5,1012500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
24,100171,Cash loans,M,Y,Y,0,157500.0,539100.0,29245.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
25,100172,Cash loans,F,N,Y,0,76500.0,225000.0,12334.5,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
26,100184,Cash loans,F,N,Y,0,112500.0,256032.0,10759.5,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
27,100187,Cash loans,F,N,Y,0,225000.0,501363.0,25726.5,418500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100212,Cash loans,F,Y,N,0,90000.0,450000.0,23107.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
29,100222,Cash loans,F,Y,Y,0,360000.0,945000.0,34074.0,945000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,Cash loans,F,N,N,1,360000.0,547272.0,43366.5,495000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
48715,455965,Cash loans,M,Y,Y,0,315000.0,900000.0,57519.0,900000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48716,456007,Cash loans,M,N,Y,0,135000.0,318645.0,16398.0,216000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48717,456008,Cash loans,F,N,Y,0,81000.0,180000.0,13455.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,3.0
48718,456009,Cash loans,F,N,Y,0,225000.0,360000.0,19530.0,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48719,456010,Cash loans,F,N,Y,1,112500.0,690313.5,35374.5,549000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48720,456011,Cash loans,F,Y,Y,1,171000.0,323460.0,23134.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48721,456013,Cash loans,F,N,Y,1,130500.0,468333.0,37129.5,382500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
48722,456028,Cash loans,M,N,Y,0,220500.0,166500.0,13284.0,166500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48723,456058,Cash loans,F,N,N,1,67500.0,315000.0,16213.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
48724,456111,Cash loans,F,N,Y,1,112500.0,514710.0,17707.5,387000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48725,456114,Cash loans,F,N,N,0,45000.0,450000.0,24543.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
48726,456115,Cash loans,M,N,Y,1,225000.0,1002339.0,37917.0,846000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48727,456116,Cash loans,F,N,N,1,180000.0,149256.0,15291.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48728,456119,Cash loans,F,N,Y,0,247500.0,685386.0,38398.5,585000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48729,456120,Cash loans,F,N,N,2,81000.0,135000.0,16020.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48730,456122,Cash loans,M,Y,N,2,157500.0,445095.0,40824.0,405000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,0.0
48731,456123,Cash loans,F,Y,Y,0,112500.0,450000.0,28890.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
48732,456166,Cash loans,F,N,Y,0,189000.0,479700.0,54382.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
48733,456167,Cash loans,F,N,Y,0,135000.0,1047771.0,37764.0,904500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48734,456168,Cash loans,F,N,Y,0,135000.0,835686.0,46660.5,765000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48735,456169,Cash loans,F,N,N,0,85500.0,109008.0,7411.5,90000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48736,456170,Cash loans,F,Y,Y,0,157500.0,500490.0,48888.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48737,456189,Cash loans,F,N,Y,0,270000.0,360000.0,28570.5,360000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
48738,456202,Cash loans,F,Y,N,3,135000.0,252022.5,23112.0,217561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [0]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for col in train.columns:
  if(train[col].dtype=='object'):
    le.fit(train[col].tolist())
    train[col] = le.transform(train[col].tolist())

for col in test.columns:
  if(test[col].dtype=='object'):
    le.fit(test[col].tolist())
    test[col] = le.transform(test[col].tolist())

In [0]:
y_train = train['TARGET']
id_train = train['SK_ID_CURR']
X_train = train.drop(columns=['SK_ID_CURR', 'TARGET'])
id_test = test['SK_ID_CURR']
X_test = test.drop(columns=['SK_ID_CURR'])

In [0]:
for col in X_train.columns:
  print(train[col].nunique())

2
3
2
2
15
2548
5603
13673
1003
8
8
5
6
6
81
17460
12574
15688
6168
62
2
2
2
2
2
2
19
18
3
3
7
24
2
2
2
2
2
2
58
114585
119832
815
2339
3780
285
149
3181
257
285
403
305
3527
1868
5199
386
3290
760
3841
221
154
3128
26
30
25
25
3563
736
5301
167
3327
1148
3772
245
151
3202
46
46
49
47
3560
1097
5281
214
3323
5
4
5116
8
3
33
10
33
9
3773
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
5
9
9
24
11
25

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.1, random_state=42)

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
lr = SVR()
lr.fit(X_train, y_train)

In [0]:
from sklearn.metrics import roc_auc_score

print("Validation accuracy: ", roc_auc_score(y_val, lr.predict(X_val)))

NotFittedError: ignored

In [0]:
submit = pd.DataFrame(index=None)

ans = lr.predict(X_test)
for i in range(0, ans.shape[0]):
  if(ans[i]<0):
    ans[i]=0.0

submit['SK_ID_CURR'] = id_test
submit['TARGET'] = ans

In [0]:
submit.head()

   SK_ID_CURR    TARGET
0      100001  0.083233
1      100005  0.100819
2      100013  0.086307
3      100028  0.009876
4      100038  0.073164

In [0]:
submit.to_csv('submit.csv', index=None)